<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/signinError_stylesheet.css">
    <link rel="stylesheet" href="/stylesheet/all.min.css">
    <link rel="stylesheet" href="/stylesheet/fontawesome.min.css">
    <title>Stack-Exchange</title>
</head>

<body>
    <div class="container">
        <header class="logo">
            <i class="fas fa-project-diagram" style="font-size: 35px;color:  rgb(89, 0, 89);margin-right: 15px;"></i>
            <h1 style="color : black; font-size: 40px;">Stack-Exchange</h1>
        </header>
        <main class="main">
            <% for(var i = 0; i<message.length; i++) {%>
            <h1 class="btn" style="border: none;"><%= message[i] %></h1>
            <%}%>
            <form action=<%= action %> method="get">
                <button type="submit" class="btn" style="outline: none; cursor: pointer;">
                    <h4> <%= btn %></h4>
                </button>
            </form>
        </main>
    </div>
</body>

</html>